<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item >
            <mat-icon mat-list-icon>house</mat-icon> Home
        </button>

        <button mat-list-item routerLink="recruiter-profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
        </button>

        <button mat-list-item routerLink="job-search">
            <mat-icon mat-list-icon>search_check</mat-icon> Search Jobs
        </button>

        <button mat-list-item routerLink="job-post">
            <mat-icon mat-list-icon>work_history</mat-icon> Post Jobs
        </button>

        <button mat-list-item routerLink="job-post-recruiter">
            <mat-icon mat-list-icon>emoji_flags</mat-icon> Jobs Posted by You
        </button>

        <button mat-list-item routerLink="applied-candidates">
            <mat-icon mat-list-icon>mail_lock</mat-icon> View Applied candidates
        </button>

        <button mat-list-item>
            <mat-icon mat-list-icon>notification_add</mat-icon> Notifications
        </button>

        <button mat-list-item (click)="logout()" >
            <mat-icon mat-list-icon>logout</mat-icon> Logout
        </button>

    </mat-action-list>
</mat-card>