.size{
    width: 120px;
    height: 120px;
    margin-top: 5%;
}

.full-width{
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the gap value to increase/decrease space between buttons */
    margin-top: 20px; /* Add margin for spacing from the top */
    margin-bottom: 10px;
}

.card{
    margin-top: 10%;
    align-items: center;
}

.loginImage{
    height: 500px;
    margin-left: 34%;
    margin-top: -19%;
    float: left
}
