<div class="slider">
    <h3> Top companies hiring now</h3>
    <div class="slide">
       <img src='../../../assets/slider/HCL.png' alt="HCL ">
       <img src='../../../assets/slider/google.png' alt="google ">
       <img src='../../../assets/slider/ms.png' alt="ms ">
       <img src='../../../assets/slider/IBM.png' alt="ibm ">
       <img src='../../../assets/slider/SMTbox.png' alt="SMartbox ">
       <img src='../../../assets/slider/c2c.png' alt="c2c ">  
       <img src='../../../assets/slider/HDFC.png' alt="HDFC ">
       <img src='../../../assets/slider/kmart.png' alt="kmart ">
       <img src='../../../assets/slider/amazon.png' alt="Amazon ">
       <img src='../../../assets/slider/tcs.jfif' alt="TCS ">
       <img src='../../../assets/slider/Adobe.png' alt="Adobe ">
       <img src='../../../assets/slider/fci.jpg' alt="FCI ">
    </div>
 </div>