<mat-toolbar color="white" class="navbar">
    <div class="logo-container">
      <button mat-icon-button class="logo-button" aria-label="Logo">
        <img class="logo-image" src="../../../assets/navbar/logo.png" alt="Logo">
      </button>
    </div>
    <div class="nav-bar">
      <a *ngIf="!isLoggedin" routerLink="/home"  mat-button class="home">Home</a>
      <a *ngIf="!isLoggedin" routerLink=""  mat-button>Find a Job</a>
      <a *ngIf="!isLoggedin" routerLink="/about"  mat-button>About</a>
      <a *ngIf="!isLoggedin" mat-button>Page</a>
      <a *ngIf="!isLoggedin" mat-button>Contact</a>
      <span class="spacer"></span>
      <button *ngIf="!isLoggedin" routerLink="/uregister" mat-stroked-button color="basic" style="margin-right: 10px;">Register</button>
      <button *ngIf="!isLoggedin" routerLink="/ulogin" 
        mat-stroked-button color="accent">Login</button>
      <a *ngIf="!isLoggedin" mat-button [matMenuTriggerFor]="menu" class="recruiter">For Employees</a>
    </div>
    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/rlogin">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </a>
        <a mat-menu-item routerLink="/rregister">
          <mat-icon>how_to_reg</mat-icon>
          <span>Register</span>
        </a>
      </mat-menu>

      <a 
      *ngIf="isLoggedin && user"
      mat-icon-button class="name" aria-label="Example icon-button with heart icon">
       Welcome {{login.getUser().fullName}}
      </a>

      <a 
      (click)="logout()"s
      *ngIf="isLoggedin"
      mat-icon-button class="logout" aria-label="Example icon-button with heart icon">
        Logout
      </a>
  </mat-toolbar>
  