<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="card">
                    <h3 class="text-center"> Login Here !!</h3>    
                    <form >
    
                        <!-------------------------------UserName Field--------->    
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Username</mat-label>
                            <input 
                            name="username"
                            matInput placeholder="Enter here">
                        </mat-form-field>
                        <!------------------Password field-------------------->
                        <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Password</mat-label>
                            <input 
                            name="password"
                            matInput type="password" placeholder="Enter here">
                        </mat-form-field>
    
                        <div class="button">
                            <button type="submit" mat-raised-button color="primary">Login</button>
                            <button  type="reset" mat-raised-button>Reset</button>
                        </div>
                    </form>
                    <div class="loginImage">
                        <img src="../../../../assets/login/login.png">
                    </div>
                </mat-card>    
            </div>
        </div>
    </div>
</div>