<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="card">
                <h3 class="text-center">Recruiter Register Here !!</h3>

                <form  (ngSubmit)="formSubmit()">
                    <!-------------------------------UserName Field--------->    
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Username</mat-label>
                        <input 
                        name="username"
                        [(ngModel)]="user.username"
                        matInput placeholder="Enter here">
                    </mat-form-field>
                    <!------------------Password field-------------------->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input 
                        name="password"
                        [(ngModel)]="user.password"
                        matInput type="password" placeholder="Enter here">
                    </mat-form-field>

                    <!-------------------First Name------------>
                    <mat-form-field appearance="outline" class="half-width">
                        <mat-label>First name</mat-label>
                        <input 
                        name="firstname"
                        [(ngModel)]="user.firstname"
                        matInput placeholder="Enter here">
                    </mat-form-field>
                    
                    <!-------------------Last Name--------------------------------->
                    <mat-form-field appearance="outline" class="half-width" style="margin-left: 1%;">
                        <mat-label>Last name</mat-label>
                        <input 
                        name="lastname"
                        [(ngModel)]="user.lastname"
                        matInput placeholder="Enter here">
                    </mat-form-field>
                    
                    <!---------------Email------------------------------------------------->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input 
                        name="email"
                        [(ngModel)]="user.email"
                        matInput placeholder="Enter here">
                    </mat-form-field>
                    
                    <!-----------------phone Number------------------------------------>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone Number</mat-label>
                        <input 
                        name="phone"
                        [(ngModel)]="user.phone"
                        matInput placeholder="Enter here">
                    </mat-form-field>
                    
                    <!-----------------Address----------------------------------------->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Address</mat-label>
                        <input 
                        name="phone"
                        [(ngModel)]="user.address"
                        matInput placeholder="Enter here">
                    </mat-form-field>

                    <div class="button">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button  type="reset" mat-raised-button>Reset</button>
                    </div>

                </form>
                <div class="Image">
                    <img src="../../../../assets/extras/4.png" alt="" class="size">
                </div>
            </mat-card>
            </div>
        </div>
    </div>
</div>
