<div class="About">
    <div class="AboutContent">
        <h1>About Professional Pathways: Your Career Catalyst</h1>          
        <section class="mission">
        <h2>Our Mission</h2>
        <p>At Professional Pathways, our mission is clear: to empower job seekers and assist employers in finding the right talent. While many job portals offer standard job listings, we are committed to going beyond the ordinary. We offer a user-friendly platform that enables job seekers to easily explore and apply for job openings. We streamline the process, ensuring that your journey to a fulfilling career is effortless.</p>
        </section>
        <section class="support">
        <h2>Supporting Job Seekers and Employers</h2>
        <p>Our commitment extends to employers as well. We understand that the success of any organization depends on hiring the right talent. Therefore, we provide a platform for employers to effortlessly post job openings, share updates, and effectively communicate with potential employees. This two-way connection is essential for both job seekers and employers.</p>
        </section>

        <!-- More sections go here -->
        <section class="join-us">
        <h2>Join Us on the Path to Success</h2>
        <p>In summary, "Professional Pathways: Your Career Catalyst" is not just a job portal; it's your pathway to a fulfilling career. We streamline the job search process and foster efficient connections between employers and prospective employees. We are your dedicated partner on the journey to career success. Join us and experience a future where job seeking and hiring are simpler, more efficient, and globally connected. Your dream career is just a click away.</p>
        </section>
        <div class="About-img">
            <img src="../../../assets/login/about.png" alt="Company Logo"><!-- comment -->
        </div> <!--loginContainer end--> 
    </div>
</div>          